.bg-dark {background-color: #1a1a1aff !important;}
.navbar-brand{margin: 0 0;}
.navbar-dark .navbar-nav .active>.nav-link {color: #ffd42a;}
.embed-responsive-item {
	width: 40%;
	height: 100%;
	min-width: 300px;
	min-height: 500px;
}
#footer{padding:2em}

#footer .list-group-item, #footer .list-group-item a {background: none; color: rgba(255,255,255,.5)}
#footer .col-sm-4{color: rgba(255,255,255,.5); margin-bottom:3em;}
#footer li.list-group-item.active a { color: #ffd42a !important; border: none !important;}

#mapas .card .card-header {
    background: #ffd42a;
    color: #1a1a1aff;
}

#banner{padding:1em 0}

.banner_image{width:100%}


@media (min-width: 576px) {
	#mapas .card{width:95%;margin:0 2%;}
	.card-group>.card+.card {  margin-left: 0;    border: 1px solid rgba(0,0,0,.125);}
	.banner_image {width: 33%;}
}


@media (min-width: 992px) {
	#navbarTogglerDemo02 {
		max-width: 670px;
		margin-left: 61px;
	}
}

