.bg-dark { background-color: #1a1a1aff!important;}
.navbar-brand{margin: 0 0;}
.navbar-dark .navbar-nav .active>.nav-link {color: #ffd42a;}
#footer{padding:2em}
#footer .list-group-item .active, #footer .list-group-item .active a{background: none; color: #ffd42a;}
#footer .list-group-item, #footer .list-group-item a {background: none; color: rgba(255,255,255,.5)}
#footer .col-sm-4,#footer .list-group-item, #footer .list-group-item a {color: rgba(255,255,255,.5);}
.col-sm-4{margin-bottom:3em;}
#mapas .card .card-header {
    background: #ffd42a;
    color: #1a1a1aff;
}

.banner_image{width:100%}


@media (min-width: 576px) {
	#mapas .card{width:95%;margin-right:2%;}
	.card-group>.card+.card {  margin-left: 0;    border: 1px solid rgba(0,0,0,.125);}
	.banner_image{width:600px; margin: 0 auto; display:block;}
}


@media (min-width: 992px) {
	#navbarTogglerDemo02 {
		max-width: 670px;
		margin-left: 61px;
	}
}

