.bg-dark { background-color: #1a1a1aff!important;}
.navbar-brand{margin: 0 0;}
.navbar-dark .navbar-nav .active>.nav-link {color: #ffd42a;}
#footer .list-group-item {background: none; color: #ffd42a;}
#footer .list-group-item a {color: #ffd42a;}

#logo-footer{padding: 1em;}



@media (min-width: 992px) {
	#navbarTogglerDemo02 {
		max-width: 670px;
		margin-left: 61px;
	}
}

