.bg-dark { background-color: #1a1a1aff!important;}
.navbar-brand{margin: 0 0;}
.navbar-dark .navbar-nav .active>.nav-link {color: #ffd42a;}
#footer{padding:2em}
#footer .list-group-item .active{background: none; color: #ffd42a;}
#footer .col-sm-4, #footer .list-group-item a {color: rgba(255,255,255,.5);}
.col-sm-4{margin-bottom:3em;}
#mapas .card .card-header {
    background: #ffd42a;
    color: #1a1a1aff;
}


@media (min-width: 575px) {
	#mapas .card{width:95%;margin-right:2%;}
}


@media (min-width: 992px) {
	#navbarTogglerDemo02 {
		max-width: 670px;
		margin-left: 61px;
	}
}

